/*About Page Start Here*/
/* Mobile version */
#heroImage2 {
  background-image: url(../images/hero_image_about_small.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 450px;
}
#heroImage2 h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 250px;
  left: 10%;
}
#heroImage2 p {
  width: 300px;
  position: absolute;
  top: 290px;
  left: 10%;
  font-family: Didot;
  line-height: 16px;
}
#heroImage2 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 13px;
  border-radius: 5px;
  position: absolute;
  top: 350px;
  left: 10%;
  border: 2px solid #caa462;
  background-image: linear-gradient(45deg, #caa462 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
#heroImage2 a:hover {
  background-position: 0;
}
/*Tablet version */
@media screen and (min-width:768px) {
  #heroImage2 {
    background-image: url(../images/hero_image_about.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* Mobile version */
#about-store {
  margin-top: 30px;
  margin-left: 20px;
}

.store-images img:hover {
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
.storeCon {
  margin-top:10px;
  width: auto;

}
.storeCon img {
  padding-right: 3px;
}
.storeCon img:hover {
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.about-text {
  margin-top: 20px;
}
.about-text h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}
.about-text p {
  font-family: Didot;
  line-height: 18px;
  margin-bottom: 30px;
  width: 300px;

}
.about-text a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 13px;
  border-radius: 5px;
  border: 2px solid #caa462;
  background-image: linear-gradient(45deg, #caa462 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.about-text a:hover {
  background-position: 0;
}
/*Tablet version */
@media screen and (min-width:768px) {
  #about-store {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .about-text {
    margin-right: 20px;
  }
}
/* Desktop version */
@media screen and (min-width: 938px) {
  .about-text {
    margin-top: 90px;
  }
  .about-text p {
    font-size: 14px;
    width: 400px;
  }
  .storeCon img {
    padding-right: 3px;
  }
}
/* Mobile version */
#about-history {
  margin-top: 30px;
  padding: 30px 20px;
  background-image: url(../images/about_history.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
#about-history h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}
.historyCon {
  text-align: center;
  display: grid;
  justify-content: center;
}
.historyCon h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;

}
.historyCon p {
  line-height: 16px;
  font-family: Didot;
  width: 300px;

}
.history1, .history2, .history3 {
  background-color: rgba(0,0,0,0.8);
  width: 300px;
  height: 140px;
  margin: 20px;
  padding: 30px 20px;
	animation: zoomIn 1.5s;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
/* Tablet and Desktop version */
@media screen and (min-width: 768px) {
  #about-history h2 {
    text-align: center;
  }
  .historyCon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  .history1, .history2, .history3 {
    width: 180px;
  }

  .historyCon p {
    font-family: Didot;
    font-size: 10px;
    width: 180px;
  }
}
/* Desktop version */
@media screen and (min-width: 938px) {
  .history1, .history2, .history3 {
    width: 300px;

  }
  .historyCon p {
    width: 300px;
    font-size: 13px;
  }
}
/*Mobile version */
#history-line {
  display: none;
}
/*Tablet version */
@media screen and (min-width:768px) {
#history-line {
  display: flex;
  background-color: #262626;
  width: 600px;
  height: 20px;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 1100px;
  left: 60px;
}
#history-line h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px;
}
.line {
  margin-top: 5px;
  width: 300px;
  height: 3px;
  background-color: #fff;

}
}
/* Desktop version */
@media screen and (min-width:938px) {
  #history-line {
    display: flex;
    background-color: #262626;
    width: 800px;
    height: 20px;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    top: 1300px;
    left: 17%;

  }
  #history-line h3 {
    margin-right: 20px;
  }
}
/*Mobile verion*/
#about-enjoy {
  margin-top: 80px;
  background-image: url(../images/about_enjoy.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}
#about-enjoy h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
.enjoy-text {
  text-align: center;
}
.enjoy-text1 {
  font-size: 14px;
  font-family: Didot;

}
.enjoy-text p {
  margin: 20px 0px;
  line-height: 18px;
  font-size: 12px;

}
.enjoyCon{
  display: grid;
  justify-content: center;
  text-align: center;
  animation: zoomIn 1.5s;
}
.enjoyCon h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.enjoyCon p{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 20px;

}
/* Tablet version*/
@media screen and (min-width: 768px) {
  .enjoy-text {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  .enjoy-text1 {
    font-size: 14px;
    font-family: Didot;
    width: 400px;
  }
  .enjoyCon {
  display: grid;
  grid-template-columns: 350px 350px;
  justify-content: center;
  margin-left: 50px;
  text-align: center;

  }

  .enjoy1, .enjoy2 {
    margin-bottom: 20px;
  }
}
/* Desktop version*/
@media screen and (min-width: 938px) {
  .enjoyCon{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }
}
